<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">
 Edit Post <h2><%= ticket.ticket %></h2>
    </div>
     <!--Creating a "EDIT TICKET" form which will be submited as a POST request to /tickets("INDEX" route) -->
    <form class="ui form" action="/tickets/<%=ticket._id%>?_method=PUT" method="POST">
        
        <div class="field">
            <label>Ticket Created</label>
                <input readonly="readonly"  type=text name="ticket[created]" placeholder="ticket creation date and time" value="<%=JSON.stringify(ticket.created).substring(1, 11) %>">
        </div>
        
        <div class="field">
            <label>Ticket Number</label>
                <input  type=text name="ticket[ticket]" placeholder="ticket number" value="<%=ticket.ticket%>">
        </div>
    
        <div class="field">
            <label>FQDN</label>
                <input type=text  placeholder="image URL" name="ticket[fqdn]" value="<%=ticket.fqdn%>">
        </div>
    
        <div class="field">
        <label>Ticket State</label>
            <select value="<%=ticket.state%>" name="ticket[state]">
                  <option value="external">External</option>
                  <option value="monitoring">Monitoring</option>
                  <option value="email">E-mail</option>
                  <option value="working">Working</option>
                  <option value="arch">Archive</option>
            </select>
        </div>    
    
        <div class="field">
            <label>Carrier information</label>
                <input   type=text placeholder="Carrier information" name="ticket[carrier]" value="<%=ticket.carrier%>">  
        </div>
        
        <div class="field">
            <label>Last Action</label>
                <input   type=text placeholder="Last Action" name="ticket[last]" value="<%=ticket.last%>"> 
        </div>
        
        <div class="field">
            <label>Next Action</label>
                <input   type=text placeholder="Next Action"  name="ticket[next]" value="<%=ticket.next%>"> 
        </div>
        
        <div class="field">
            <label>Ticket owner</label>
               <select name="ticket[owner]">
              <option value="<%=ticket.owner%>"><%=ticket.owner%></option>
              <option value="<%= currentUser.username %>"><%= currentUser.username %></option>
               </select>
                 
        </div>
        
         <div class="field">
            <label>Ticket was last updated at:</label>
               <input   type=text  name="ticket[updated]" value="<%= Date().substring(0, 16) ; %>">   
        </div>
        
        <div class="field">
            <label>Notes</label>
                <textarea  name="ticket[notes]" > <%=ticket.notes%> </textarea>
        </div>
        
        
            <input type="submit" class="positive ui big button">
          
    </form>
    
</div>




<% include partials/footer %>