<% include partials/header %>
 
  <!--Listing all tickets using forEach loop-->
<% tickets.forEach(function(ticket){ %>
    <% if(ticket.state == "external") { %>
    <div  class="ui container main">
        <div class="item">
            <div class="ui container huge header">
              <a class="header" href="/tickets/<%=ticket._id%>"> <%= ticket.ticket %> </a> 
            </div>
        </div>
        
    <div class="content">
        
         <!--Ticket Creation date-->
        <div class="meta">
            <span> Created: </span> <%= ticket.created %> 
        </div>
         <!--Ticket fqdn-->
        <div >
             <span>FQDN: </span><h3 class="fields"> <%= ticket.fqdn %>  </h3>
        </div>
               <!--Ticket Status-->
         <div class="description">
            <span>Ticket status: </span><h3 style="color: #588fe8" class="fields"> <%= ticket.state %>  </h3>
        </div>
        <!--Ticket Carier Information-->
        <div class="description">
            <span>Carier Information: </span><h3 class="fields"> <%= ticket.carrier %>  </h3>
        </div>
        <!--Ticket Last Action-->
        <div class="description">
           <span>Ticket Last Action: </span> <h3 class="fields"> <%= ticket.last %>  </h3>
        </div>
        <!--Ticket Next Action-->
        <div class="description">
            <span>Ticket Next Action: </span> <h3 class="fields"> <%= ticket.next %>  </h3>
        </div>
        <!--Ticket Owner-->
        <div class="description">
            <span>Ticket Owner: </span> <h3 class="fields"> <%= ticket.owner %>  </h3>
        </div>
          <!--Ticket Notes-->
        <div class="description">
            <span>Ticket Notes: </span> <h3 class="fields"> <%= ticket.notes.substring(0,70) + "..." %>  </h3>
        </div>
        <!--Ticket last Update time-->
         <div class="meta">
            <span> Updated: </span> <h3 class="fields"> <%= ticket.updated %>   </h3>
        </div>
        
        <div class="extra">
    <!--Adding Read More button-->
    <a class="ui basic orange button" href="/tickets/<%= ticket._id %>">Read More..</a>
        </div>
                 <hr>
    </div>
  </div>
</div>

<% }}) %>



</div>
</div>

 <% include partials/footer %>