<% include ../partials/header %>

<style>
    #avatarImg {height: 200px; 
                    width:200px; 
                    border: 7px ridge white;
                    border-radius: 15px;
    }
    #wrapper {text-align: center;
                padding-top: 12%;
    }
    
</style>
    <div id='wrapper' class='container'>
         <img id='avatarImg' src='https://pickaface.net/gallery/avatar/asimkhan56a1393327099.png'>
          <h1>
        User: <%= foundUser.username %>
        <hr>
         <a class='btn btn-lg btn-warning' href="mailto:<%= foundUser.email %>">Write email to: <%= foundUser.username %> </a> 
        </h1>
        
	     					<%if(currentUser && foundUser.equals(currentUser._id)){ %>
	     					<a class='btn btn-sm btn-primary' id='editProfileLink' href='/user/<%=foundUser._id%>/edit'>Edit profile</a>
	     					<% } %>
	     			<hr>
     			<div class='container'>
     			    <br>
     			<h4>Latest tickets created by user: </h4>

     			    <div class="row" style="margin-bottom: 40;">
          <!-- Listing all tickets using forEach loop -->
            <% let tickets= foundPosts.slice(0,6)%>
            <% tickets.forEach(function(ticket){ %>
                <% if(ticket.state !== "arch") { %>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        
                        <ul class="list-group">
                            <% if (ticket.state==="monitoring") { %>
                            <li  style="background-color:  #f7cc56; font-size: 1.4em" class="list-group-item active"><a style = 'color: white' class="header  pull-right" class="header" href="/tickets/<%=ticket._id%>"> <%= ticket.ticket %> </a></li>
                           <% }  else if (ticket.state==="external") { %> 
                               <li  style="background-color: #bce8f1; font-size: 1.4em" class="list-group-item active"><a style = 'color: white' class="header  pull-right" class="header" href="/tickets/<%=ticket._id%>"> <%= ticket.ticket %> </a></li>
                           <% } else { %> 
                                  <li  style="background-color:#eab9c2; font-size: 1.4em; " class="list-group-item active"><a  style = 'color: white' class="header  pull-right" href="/tickets/<%=ticket._id%>"> <%= ticket.ticket %> </a></li>
                           <% }  %>  
                           <% const fqdnList = (JSON.stringify(ticket.fqdn)).split(',')%> 
                              <li class="list-group-item"> <span> Created at: </span>  <%= JSON.stringify(ticket.created).substring(1, 11) %> <span class='pull-right'>owner:      <a   href="/user/<%= ticket.ownerId%>"><%= ticket.owner%>  </a>  </span>   </li>
                              <li class="list-group-item"> <span> FQDN: </span><h5 class="fields"> <%= fqdnList[0].substring(2, 24)+"..."  %> <br> <%= fqdnList[1].substring(1, 24)+"..."  %> </h5> </li>
                              <li class="list-group-item"> <span> Assign to Group: </span><h5 class="fields"> <%= ticket.group %>  </h5></li>
                              <li class="list-group-item"> <span> Ticket status: </span><h5 class="fields"> <%= ticket.state %>  </h5></li>
                              <li class="list-group-item"> <span> Carier Information: </span><h5 class="fields"> <%= ticket.carrier %>  </h5> </li>
                              <li class="list-group-item"> <span> Ticket Last Action: </span> <h5 class="fields"> <%= ticket.last.substring(0,47) + "..." %>  </h5> </li>
                              <li class="list-group-item"> <span> Ticket Next Action: </span> <h5 class="fields"> <%= ticket.next.substring(0,67) + "..." %>   </h5> </li>
                        </ul>
                        <br>
                    </div> 
                <% }%>
            <% }) %>
                   
  
     			</div>	
    </div>  